[push]
	autoSetupRemote = true
[user]
	email = heisson.lima@celus.io 
	name = heisson.lima
[core]
	editor = vim
	excludesfile = /Users/heissonlima/.gitignore

[includeIf "gitdir:~/dotfiles"]
  path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/Projects/Personal/"]
  path = ~/Projects/Personal/.gitconfig

[http]
	postBuffer = 157286400
